:root {
  --card-color: #1f143a;
  --text-color: #ffffff;
  --background-color: #0f172a;
}

html,
body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Tajawal", serif;
  font-weight: 500;
  font-style: normal;
  height: 100%;
  margin: 0;
  
}

.app{
  width: 90%;
  margin: auto;
  
}

@media (max-width: 1280px) {
  .app{
    width: 98%;
    margin: auto;
    
  }
}
